#grillaCom{
  display:grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 100px auto 100px; 
  column-gap: 100px;
  row-gap: 15px;
  
}
.grillaprd{
  display:grid;
  column-gap:10px;
  row-gap: 10px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:repeat(4,1fr);
}
.grillaprd .imgprd{
  
  grid-column: 1/ span 2;
  grid-row: 1/ span 3; 

  /* grid-column-start:1;
  grid-column-end: 2;
   grid-row-start: 1;
  grid-column-end:3;  */

}
.nombreprd{
  grid-row-start: 4;
  grid-column-end:4;
  align-self:start
}